/*
** variables.scss
**
** resource Sass stylesheet for all variables
*/

/*
** primary colors
*/
$red: #ef5252;
$blue: #588cc9;
$green: #4cbb8f;

/*
** secndary colors
*/
$dark_grey: #262626;
$white: #fff;
$tan: #f7efe2;
$transparent: rgba(0,0,0,0);
